.link {
    background-color: #fff;
    margin: 12px;
    display: flex;
    text-decoration: none;
    color: #212934;
}
.link title {
    background-color: #000;
}
.item {
    width: 100%;
    height: 100%;
    padding: 10px;
}
