.window {
    padding: 12px;
}
.area {
    border: none;
    width: 256px;
    min-height: 32px;
    padding: 10px;
}
.btnSave {
    border-radius: 3px;
    background-color: #0C7CD5;
    color: #ffffff;
    padding: 5px 7px;
}
.btnSave:hover {
    background-color: #1e92ef;
    transition: .5s;
}
.btnClose {
    background-color: transparent;
    color: #626262;
    padding: 5px;
    display: flex;

}
.btnClose:hover{
    background-color: #C4C4C4;
}
.buttonWrap {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}