* {
    font-family: Roboto;
    font-size: 15px;
    border-radius: 2px;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    resize: none;
    cursor: pointer;
}
textarea {
    cursor: initial;
}
.app {
    display: flex;
    justify-content: space-around;
}